h1{
 color:turquoise;
  font-size: 56px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  }
h2{
 color:yellow;
  font-size: 39px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  }
h3{
color:yellow;
font-size: 47px;
font-family: "Comic Sans MS", cursive, sans-serif;
  }
li{
 color:yellow;
  font-size: 28px;

    font-family: "Comic Sans MS", cursive, sans-serif;
}  
   
body {
  background-image:url("https://media.giphy.com/media/h8ok9O1xwupmo/giphy.gif");
  
}
